* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Roboto", sans-serif; */

/*estilo menu*/
a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
}
.navbar {
  font-family: "Roboto", sans-serif;
}

.menu ul li {
  display: inline-block;
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.nav__link:hover {
  background-color: white;
  color: black;
  font-size: 1rem;
  border: 2px solid yellow;
  border-radius: 5px;
  font-style: oblique;
}

.container-logo-nav-container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header {
  height: 20vh;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: antiquewhite;
}

.main .main {
  height: 60vh;
}
/*estilo de index*/

.imagen-principal img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.title_index,
.title_gallery,
.title_faq,
.title_us,
.title_contact {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  text-align: center;
  color: gray;
  padding-top: 5em;
}

.titulo-secundario-index {
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: gray;
  padding-top: 3rem;
}

.padreImgIndex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  gap: 1em;
  justify-items: center;
  z-index: -2;
}
/*Segui la sugerencia y funciono*/
.padreImgIndex {
  align-items: center;
  padding: 1em;
}

.descripcionImagen {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: beige;
  font-style: italic;
}

/*diseño de tarjetas index box model*/
.card {
  background-color: #f1f1f1;
  border: 2px solid gray;
  width: 200px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
  padding: 10px;
}

.card__body {
  width: 200px;
  height: 300px;
}

.img_card {
  border-radius: 200px;
  width: 90%;
  height: auto;
}

.card__text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

/*dibujo corona box model*/

.corona {
  margin: 80px;
  border-top: 160px solid yellow;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: relative;
  width: 270px;
  display: inline-block;
  margin-top: 90px;
  margin-left: 500px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.picos {
  position: absolute;
  width: 90px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  color: white;
  top: -240px;
  left: -25px;
  box-shadow: 90px 0, 180px 0;
}

.base {
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: yellow;
  bottom: -25px;
}

.circulos {
  position: absolute;
  top: -150px;
  left: -30px;
  background-color: yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 85px -17px, 175px -17px, 260px 0;
  color: yellow;
}

/* estilo de galeria con grid */

/* .title {
  text-align: center;
  font-size: 2em;
  margin-top: 150px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 0.5rem;
} */

.container-gallery {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.container-gallery .box-img figure {
  width: 100%;
  height: 100%;
}

.container-gallery .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-gallery .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-gallery .box-img:nth-child(6) {
  grid-row-start: span 2;
}

/* .titulo_servicios {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 0.5rem;
  text-align: center;
}

.titulo_nosotros {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 0.5rem;
  text-align: center;
} */

/* formulario de contacto */

.contactanos {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 1.5em 5em;
  height: auto;
}

.contact {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.contactanos h1 {
  text-align: center;
  font-size: 2em;
  padding: 1em;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 0.5rem;
}

.contactanos h1 span {
  color: red;
  font-size: 1em;
}

.contactFormGeneral {
  box-shadow: 0 0 40px 0 rgb(255, 255, 255, 0.3);
  background-color: rgb(24, 23, 23);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactFormGeneral {
  height: auto;
}

.contactFormGeneral h2 {
  text-align: center;
  padding: 0.8em;
}

.contact-info {
  background-color: black;
}

.contactForm form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactForm form .block {
  grid-column: 1 / 3;
}

.contactForm p {
  margin: 0;
  padding: 1em;
}

.contactForm form button,
.contactForm form input,
.contactForm form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: azure;
  border-bottom: 1px solid red;
}

.contactForm form button {
  background: red;
  color: black;
  border: 0;
  text-transform: uppercase;
  padding: 0.5em;
}

.contactForm form button:hover,
.contactForm form button:focus {
  background: rgb(206, 89, 89);
  color: azure;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info h3,
.contact-info ul,
.contact-info p {
  list-style: none;
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 1em;
}

.contact-info ul li {
  padding: 0.1em;
}
.contact label {
  font-weight: 700px;
}

.contact input:not([type="submit reset"]),
.contact textarea {
  border: none;
  border-bottom: 4px solid tomato;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}

/*footer estilo*/
.footerStyle {
  height: 10vh;
  background-color: antiquewhite;
}

.footerCenter .footerNav .footerItem {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.footerCenter {
  display: flex;
  justify-content: space-between;
}

.footerNav {
  display: flex;
  align-content: flex-end;
}
/*medias queries lo pude aplicar en galeria que funciono no asi de bien en contacto*/
@media screen and (max-width: 800px) {
  .container-gallery {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    grid-template-rows: 200px;
  }
  .container-gallery .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}

@media screen and (max-width: 500px) {
  .container-gallery {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-gallery .box-img .img {
    height: auto;
  }
  .contactFormGeneral {
    grid-template-columns: 1fr;
  }
  .contactanos {
    padding: 1em 1em;
  }
}
